[submodule "third_party/breakpad"]
	path = third_party/breakpad
	url = https://github.com/google/breakpad
[submodule "third_party/lss"]
	path = third_party/lss
	url = https://github.com/adelshokhy112/linux-syscall-support
